button {
  max-width: 100px;
  max-height: 30px;
  width: 100%;
  margin: 0.5rem;
  padding: 5px;
}

.poker-section {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-height: 200px;
  height: 100%;
}
